@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0;
}

section .content{
    text-align: center;
}

section .content h2{
    font-size: 24vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

section:nth-child(1) .content h2{
    background-image: url(./img/img1.jpg);
}

section:nth-child(2) .content h2{
    background-image: url(./img/img2.jpg);
}

section:nth-child(3) .content h2{
    background-image: url(./img/img3.jpg);
}

section:nth-child(4) .content h2{
    background-image: url(./img/img4.jpg);
}

section .content p{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

section .content a{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
}